 <header class="header_area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-12">
                    <div class="logo_area text-center">
                        <a href="{{ homepage_url }}" class="yummy-logo">E-SHOP Alison</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">                 
                {% include "partials/nav_primary.html" %}
                </div>
            </div>
        </div>
    </header>