{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav"
        aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"
            aria-hidden="true"></i> Menu</button>
    <!-- Menu Area Start -->
    <div class="collapse navbar-collapse justify-content-center" id="yummyfood-nav">
        <ul class="navbar-nav" id="yummy-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ homepage_url }}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="yummyDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Categorias</a>
                <div class="dropdown-menu" aria-labelledby="yummyDropdown">
                    {% category_tree depth=2 as tree_categories %}
                    {% if tree_categories %}
                    
                    {% for tree_category, info in tree_categories %}
                    {% if info.has_children %}
                    <li class="dropdown-submenu">
                            <a class="dropdown-item" tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                
                        <ul class="dropdown-menu">
                            {% else %}
                            <a class="dropdown-item" tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>

                            {% endif %}

                            {% for close in info.num_to_close %}
                        </ul>
                    </li>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    
    </div>
    
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="archive.html">Archive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" >{% include "partials/mini_basket.html" %}</a>
    
    </li>
    </ul>
    </div>
</nav>